html, body {
    background-color: #000000;
}

.col-centered {
    display: inline-block;
    float: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
}

.header-container .header-title {
    color: #fe0000;
}

.header-container .header-menu-icon {
    font-size: 40px;
    color: #fe0000;
    cursor: pointer;
}

.header-container .header-menu-icon-1 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #4099ff;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    color: white;
}

.global-text-style-1 {
    font-family: RunWild;
    color: white;
    font-size: 74px;
    transform: rotate(-6deg);
    line-height: 2.98;
}

.global-text-style-2 {
    font-family: RunWild;
    color: #1a80b7;
    font-size: 84PX;
    transform: rotate(-6deg);
    line-height: 0.98;
}

.subscribe {
    width: 88%;
  /* height: 33px; */
    font-family: Karla;
    font-size: 28px;
    line-height: 3.38;
    color: #f2ece3;
}

.global-text-style-3 .title {
    font-size: 24px;
    line-height: 1.38;
    color: #fe0000;
}

.global-text-style-3 .description {
    color: #f2ece3;
    font-size: 24px;
    line-height: 1.38;
}
