@import url("https://fonts.googleapis.com/css?family=Karla");

html, body {
    background-color: #000000;
}

.col-centered {
    display: inline-block;
    float: none;
}

.global-button-1 {
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
}

.header-container .header-title {
    color: #fe0000;
}

.header-container .header-menu-icon {
    font-size: 40px;
    color: #fe0000;
    cursor: pointer;
}

.header-container .header-menu-icon-1 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #4099ff;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    color: white;
}

.global-text-style-1 {
    font-family: RunWild;
    color: white;
    font-size: 74px;
    transform: rotate(-6deg);
    line-height: 2.98;
    margin-top: 4%;
}

.global-text-style-1 .rk-winter-1 {
    line-height: 1;
}

.global-text-style-1 .review {
    display: flex;
    justify-content: center;
}

.global-text-style-1 .RK-WINTER {
    margin-top: 14%;
}

.global-text-style-2 {
    font-family: RunWild;
    color: #1a80b7;
    font-size: 84PX;
    transform: rotate(-6deg);
    line-height: 0.98;
    margin-top: 6%;
}

.subscribe {
    font-family: 'Karla', sans-serif;
    font-size: 22px;
    line-height: 3.38;
    color: #f2ece3;
}

.see-all {
    margin-top: 34%;
}

.global-text-style-3 {
    font-family: 'Karla', sans-serif;
}

.global-text-style-3 .title {
    font-size: 24px;
    line-height: 1.38;
    color: #fe0000;
}

.global-text-style-3 .description {
    color: #f2ece3;
    font-size: 24px;
    line-height: 1.38;
}

.input-1-container {
    max-width: 412px;
    margin: auto;
}

.input-1-container input, .input-1-container button {
    border-radius: 0px;
    height: 58px;
}

.input-1-container button {
    background-color: #1a80b7;
}

.foote-container {
    justify-content: space-between;
    height: 120px;
    align-items: center;
}

.foote-container .rk {
    font-family: RunWild;
    color: #f2ece3;
    font-size: 20px;
    margin-left: 16px;
}

.foote-container .author {
    font-family: RunWild;
    font-size: 20px;
    color: #f2ece3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.foote-container .author p {
    margin-bottom: 0;
    margin-right: 20px;
}

.right-side-paragraph {
    font-size: 24px;
    font-family: 'Karla', sans-serif;
    color: #f2ece3;
}

.right-side-home .global-text-style-3 {
    margin-bottom: 60px;
}

.book-1 {
    font-family: RunWild;
    font-size: 48px;
    color: #f07e65;
}

.book-1 .reviewd {
    text-align: center;
}

.book-1 .order-print {
    margin-top: 22%;
    margin-left: 16px;
    margin-top: 90px;
}

.book-1 .amazon {
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    line-height: 1.38;
    color: #1a80b7;
    margin-left: 16px;
}

.impreted {
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    color: #f2ece3;
    margin-bottom: 10%;
    margin-left: 60px;
}

.impreted .dive {
    margin-left: -3em;
}

.parag {
    color: #f2ece3;
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    line-height: 1.38;
    margin-bottom: 50px;
    margin-top: 25px;
}

.consulted {
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    color: #f2ece3;
    display: flex;
    justify-content: center;
    line-height: 1.38;
    text-align: center;
}

.stars {
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    color: #ECEC34;
    display: flex;
    justify-content: center;
    line-height: 1.38;
    margin-top: 32px;
}

.book-container-1 {
    justify-content: space-between;
    max-width: 720px;
    margin: auto;
}
