html, body {
    background-color: #000000;
}

h1, h2, h3, h4, h5, p, span, div {
    color: #ffffff;
}

.col-centered {
    display: inline-block;
    float: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
}

.header-container .header-title {
    color: #fe0000;
}

.header-container .header-menu-icon {
    font-size: 40px;
    color: #fe0000;
    cursor: pointer;
}
