$primary-color: #ffffff;
$body-color: #000000;
$global-color-1 : #fe0000;



html,body {
    background-color: $body-color;
}
h1,h2,h3,h4,h5,p,span,div {
    color: $primary-color;
}

.col-centered {
    display: inline-block ;
    float: none ;
}

//css for header start
.header-container {
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
    .header-title {
        color:$global-color-1;
    }
    .header-menu-icon {
        font-size: 40px;
        color:$global-color-1;
        cursor:pointer;
    }
}
