@import url('https://fonts.googleapis.com/css?family=Karla');

$primary-color: #f2ece3;
$body-color: #000000;
$global-color-1 : #fe0000;

 


html,body {
    background-color: $body-color;
}


.col-centered {
    display: inline-block ;
    float: none ;
}

//global css for buttons
.global-button-1 {
    width: 100%;
}


//css for header start
.header-container {
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
    .header-title {
        color:$global-color-1;
    }
    .header-menu-icon {
        font-size: 40px;
        color:$global-color-1;
        cursor:pointer;
        
    }
    .header-menu-icon-1 {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #4099ff;
        display: flex;
        justify-content: center;
        /* text-align: center; */
        align-items: center;
        color: white;
    }
}

.index-container-1 {
    background-image: url(../img/blackboard.png);
    margin: 0 -264px;
    padding: 0 246px;
}


//div row and col news and events
    .global-text-style-1 {
        font-family: RunWild;
        color: white;
        font-size: 74px;
        transform: rotate(-6deg);
        line-height: 2.98;
        margin-top: 4%;
        .rk-winter-1 {
            line-height: 1;
        }
        .review{
            display: flex;
            justify-content: center;
        }
        .RK-WINTER{
            margin-top: 14%;
        }
        
    }


//div row and col books news and events

 .global-text-style-2 {
        font-family: RunWild;
        color: #1a80b7;
        font-size: 84PX;
        transform: rotate(-6deg);
        line-height: 0.98;
        margin-top: 6%;
        .news-letter {
            font-size: 60px;
            white-space: nowrap;
        }
      
}
.subscribe {
    font-family: 'Karla', sans-serif;
    font-size: 22px;
    line-height: 3.38;
    color: #f2ece3;

        }     
  .see-all {
     margin-top: 34%;
    }

// MONTH
.global-text-style-3{
    font-family: 'Karla', sans-serif;
 .title {
        font-size: 24px;
        line-height: 1.38;
        color:$global-color-1
    }
    .description {
        color: $primary-color;
        font-size: 24px;
        line-height: 1.38;
    }
}

//for forms input 
.input-1-container {
    max-width: 412px;
    margin: auto;
    input,button {
        border-radius: 0px; 
        height: 58px;
    }
    button {
        background-color: #1a80b7
    }
}

//footer
.foote-container {
    p {
        margin-bottom: 0;
    }
    justify-content: space-between;
    height: 120px;
    align-items: center;
    .rk {
        font-family: RunWild;
        color: #f2ece3;
        font-size: 20px;
        margin-left: 16px;
      
    }
    .author {
        font-family: RunWild;
        font-size: 20px;
        color: #f2ece3;
        display: flex;
        justify-content: space-around;
       align-items: center;
       p {
           margin-bottom: 0;
           margin-right:20px;
       }
    }
}




//right side home
.right-side-paragraph {
    font-size: 24px;
    font-family: 'Karla', sans-serif;
    color: #f2ece3;
}
.right-side-home{
    .global-text-style-3{
        margin-bottom: 60px;
    
        
    }       
    
       
    }
    





//book1
.book-1 {
    font-family: RunWild;
    font-size: 48px;
    color: #f07e65;
    .reviewd {
        text-align: center;
    }
    .order-print {
        margin-top: 22%;
        margin-left: 16px;
        margin-top: 90px;
    }
    .amazon {
        font-family: 'Karla', sans-serif;
        font-size: 24px;
        line-height: 1.38;
        color: #1a80b7;
        margin-left: 16px;
    }
}
// impreted
.impreted {
    font-family:'Karla', sans-serif;
    font-size: 24px;
    color: #f2ece3;
    margin-bottom: 10%;
    margin-left: 60px;
    .dive {
        margin-left: -3em;
    }
}

//right parag
.parag {
    color: #f2ece3;
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    line-height: 1.38;
    margin-bottom: 50px;
    margin-top: 25px;
}

.consulted {
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    color: #f2ece3;
    display: flex;
    justify-content: center;
    line-height: 1.38;
    text-align: center;
}

.stars{
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    color: #ECEC34;
    display: flex;
    justify-content: center;
    line-height: 1.38;
    margin-top: 32px;
}


.book-container-1 {
    justify-content: space-between;
    max-width: 720px;
    margin: auto;
    align-items: center;
}

//css for rk-home
.global-text-style-2{
    .text-home {
        margin-left: 10%;
    }
}

.container-home {
    margin-top: 80px;
}