@import url('https://fonts.googleapis.com/css?family=Karla');

$primary-color: #f2ece3;
$body-color: #000000;
$global-color-1 : #fe0000;

 


html,body {
    background-color: $body-color;
}


.col-centered {
    display: inline-block ;
    float: none ;
}

//global css for buttons
.global-button-1 {
    width: 100%;
}


//css for header start
.header-container {
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
    .header-title {
        color:$global-color-1;
    }
    .header-menu-icon {
        font-size: 40px;
        color:$global-color-1;
        cursor:pointer;
        
    }
    .header-menu-icon-1 {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #4099ff;
        display: flex;
        justify-content: center;
        /* text-align: center; */
        align-items: center;
        color: white;
    }
}

//div row and col news and events
    .global-text-style-1 {
        font-family: RunWild;
        color: white;
        font-size: 74px;
        transform: rotate(-6deg);
        line-height: 2.98;
        margin-top: 4%;
    }

//div row and col books news and events

 .global-text-style-2 {
        font-family: RunWild;
        color: #1a80b7;
        font-size: 84PX;
        transform: rotate(-6deg);
        line-height: 0.98;
        margin-top: 6%;
      
}
.subscribe {
    font-family: 'Karla', sans-serif;
    font-size: 22px;
    line-height: 3.38;
    color: #f2ece3;

        }     
  .see-all {
     margin-top: 34%;
    }

// MONTH
.global-text-style-3{
    font-family: 'Karla', sans-serif;
 .title {
        font-size: 24px;
        line-height: 1.38;
        color:$global-color-1
    }
    .description {
        color: $primary-color;
        font-size: 24px;
        line-height: 1.38;
    }
}

//for forms input 
.input-1-container {
    max-width: 326px;
    
    input {
        border-radius: 0px; 
        height: 58px;
        width: 448px;
    }
    button {
        border-radius: 0px; 
        height: 58px;
        width: 448px;
        background-color: #1a80b7
    }
}

//footer
.RK {
    font-family: RunWild;
    color: #f2ece3;
    font-size: 20px;
    margin-top: 14%;
}

//right side home
.right-side-home{
    .global-text-style-3{
        margin-bottom: 60px;
        margin-left: 6%;
    }       
    
}

//author footer
.author {
    font-family: RunWild;
    font-size: 20px;
    color: #f2ece3;
    display: flex;
    justify-content: space-around;
    margin-left: 70%;
}